<mat-toolbar class="toolbar">
  <button mat-button routerLink="/">
    <span>Angular Shop</span>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/">
    <mat-icon>store</mat-icon>

    <span>Produtos</span>
  </button>
  <button
    mat-button
    routerLink="/cartpage"
    [matBadge]="cart.cartItems().length"
    [matBadgeHidden]="cart.cartItems().length === 0"
    matBadgeColor="warn"
  >
    <mat-icon>shopping_cart</mat-icon>

    <span>Carrinho</span>
  </button>
  <button mat-button routerLink="/login" (click)="authService.loginComGoogle()">
    <mat-icon>contacts_product</mat-icon>
    <span>Login</span>
  </button>
</mat-toolbar>
