<mat-card class="product-card p-cart">
  <mat-card-header class="zero-padding">
    <mat-card-title>{{ produto().TITULO }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="zero-padding">
    {{ produto().DESCRICAO }}
  </mat-card-content>
  <mat-card-footer class="zero-padding">
    <div class="card-bottom">
      <p class="price p-left">{{ produto().PRECO | currency: 'BRL' }}</p>
      <button mat-icon-button (click)="removerItem()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
